<section class="wrapper scrollable">

  <nav class="user-menu">
    <a href="javascript:;" class="main-menu-access">
      <i class="icon-proton-logo"></i>
      <i class="icon-reorder"></i>
    </a>
  </nav>
  <section class="title-bar">
    <div class="logo">
      <h1>Account</h1>
      <h3 style="color: #c4c4dd; padding-left: 0; margin-top: 8px;">MANAGER</h3>
    </div>

    <div class="clearfix"> </div>
  </section>
  <!--<div class="secRight">

  </div>-->
  <div class="main-grid quick">
    <div class="row">
      <div class="col-md-9">
        <div class="left-data-account">
          <div class="">
            <ul>
              <li>Search by Account No. or Account Friendly Name</li>
              <li>View or Select to pay your Account or multiple Accounts</li>
              <li><i class="fa fa-question"></i> Click on the Account Number to create an Account Friendly Name.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-12 mt-3">
        <div class="row">
          <div class="col-md-12 mb-1">
            <p class="m-heading">MY ACCOUNTS</p>
          </div>
          <div class="col-md-4 mt-0 mt-8px">
            <div class="d-flex">
              <input type="search" name="search" placeholder="Search By Account Number no. Friendly name." class="form-control">
              <button type="button"><i class="fa fa-search"></i></button>
            </div>
          </div>
          <div class=""><hr></div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-4 mt-8px">
                <div class="">
                  <a href="" class="btn btn-info" style="width: 100%;" data-toggle="modal" data-target="#add">Pay Account <i class="fa fa-question"></i></a> 
                </div>
              </div>
              <div class="col-md-4 mt-8px">
                <div class="">
                  <a href="" class="btn btn-info" data-toggle="modal" data-target="#add" style="width: 100%;">Manage Group <i class="fa fa-question"></i></a> 
                </div>
              </div>
              <div class="col-md-4 mt-8px">
                <div class="">
                  <a href="" class="btn btn-info" data-toggle="modal" data-target="#add" style="width: 100%;">Add Account <i class="fa fa-question"></i></a> 
                </div>
              </div>
              <div class="col-md-4 mt-8px">
                <div class="">
                  <a href="" class="btn btn-info" data-toggle="modal" data-target="#add" style="width: 100%;">Delegate Account <i class="fa fa-question"></i></a> 
                </div>
              </div>
              <div class="col-md-4 mt-8px">
                <div class="">
                  <a href="" class="btn btn-info" data-toggle="modal" data-target="#add" style="width: 100%;">Move Account <i class="fa fa-question"></i></a> 
                </div>
              </div>
              <div class="col-md-4 mt-8px">
                <div class="">
                  <a href="" class="btn btn-info" data-toggle="modal" data-target="#add" style="width: 100%;">Delete Account <i class="fa fa-question"></i></a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered" style="display: flex; flex-direction: column; justify-content: center; align-items: center;"> 
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="modal-title" id="add">No Account Selected</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Please select an Account below.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 
</section>

<app-left-menu></app-left-menu>
