<section class="wrapper scrollable">

  <nav class="user-menu">
    <a href="javascript:;" class="main-menu-access">
      <i class="icon-proton-logo"></i>
      <i class="icon-reorder"></i>
    </a>
  </nav>
  <section class="title-bar">
    <div class="logo">
      <h1>Quick</h1>
      <h3 style="color: #c4c4dd; padding-left: 0; margin-top: 8px;">Links</h3>
    </div>

    <div class="clearfix"> </div>
  </section>
  <!--<div class="secRight">

  </div>-->
  <div class="main-grid quick">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-2">
                <h3><i class="fa fa-book fa-2x text-info"></i></h3>
              </div>
              <div class="col-md-9">
                <p class="b-b-d"> <strong>Update</strong> Your Personal Information</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 my-1">
            <div class="row">
              <div class="col-md-2">
                <h3><i class="fa fa-search fa-2x text-info"></i></h3>
              </div>
              <div class="col-md-9">
                <p class="b-b-d"> <strong>View</strong> Your Acount <span class="px-1">/</span> <strong>Add</strong> Your Acount</p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-2">
                <h3><i class="fa fa-dashboard fa-2x text-info"></i></h3>
              </div>
              <div class="col-md-9">
                <p class="b-b-d"> <strong>Manage</strong> Your Acount</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 my-1">
            <div class="row">
              <div class="col-md-2">
                <h3><i class="fa fa-credit-card fa-2x text-info"></i></h3>
              </div>
              <div class="col-md-9">
                <p class="b-b-d"> <strong>Pay</strong> Your Acount</p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-2">
                <h3><i class="fa fa-mobile fa-3x text-info"></i></h3>
              </div>
              <div class="col-md-9">
                <p class="b-b-d"> <strong>Chose</strong> Your Communication prefereces</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 my-1">
            <div class="row">
              <div class="col-md-2">
                <h3><i class="fa fa-list-alt fa-2x text-info"></i></h3>
              </div>
              <div class="col-md-9">
                <p class="b-b-d"> <strong>Derlegate</strong> Your Account</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-secondary">
          <h3 class=""><i class="fa fa-question"></i> Frequently Asked Questions</h3>
          <p class="pl-0 mt-1">Have a question? Get answers to frequently asked questions</p>
        </div>
      </div>
      </div>
    </div>
 
</section>

<app-left-menu></app-left-menu>
