<section class="wrapper scrollable">

  <nav class="user-menu">
    <a href="javascript:;" class="main-menu-access">
      <i class="icon-proton-logo"></i>
      <i class="icon-reorder"></i>
    </a>
  </nav>
  <section class="title-bar">
    <div class="">
      <h1>Manage</h1>
      <h3 style="color: #c4c4dd; padding-left: 0; margin-top: 8px;">COMPANY INFORMATION</h3>
    </div>
    <div class="clearfix"> </div>
  </section>
  <!--<div class="secRight">

  </div>-->
  <div class="main-grid" style="margin-top: 0px; padding-top: 0px;">
    <div class="row">
      <div class="col-md-12">
      </div>
      <div class="col-md-12">
        <div class="table-responsive card">
        <p style="padding-left: 0px!important;">Update your company information</p>

          <table class="table table-bordered table-sm text-center mt-1">
            <thead class="bg-dark text-light">
              <tr>
                <th>Company Name</th>
                <th>Type</th>
                <th>Registration Number</th>
                <th>VAT Number</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>gdsolutions</td>
                <td><span class="badge bg-info">Pro</span></td>
                <td>43478383483</td>
                <td>22322</td>
                <td>
                  <a href="" class="btn btn-sm btn-success">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a href="" class="btn btn-sm btn-danger" style="margin-left: 5px;">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
            <div>
              <div class="" style="float: right;">
                <a href="" class="btn btn-success" style="margin-right: 10px;">Add New Company</a>
                <a href="" class="btn btn-primary">Refresh</a>
              </div>
          </div>
        </div>

        <div class="table-responsive card" style="margin-top: 2rem;">
          <p style="padding-left: 0px;margin-bottom: 19px;">Below are companies you have added but have not been verified</p>
          <table class="table table-bordered table-sm text-center">
            <thead class="bg-dark text-light">
              <tr>
                <th>Company Name</th>
                <th>Type</th>
                <th>Registration Number</th>
                <th>VAT Number</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>gdsolutions</td>
                <td><span class="badge bg-info">Pro</span></td>
                <td>43478383483</td>
                <td>22322</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
 
</section>

<app-left-menu></app-left-menu>
