<nav class="main-menu">
  <ul>
    <li>
      <a href="dashboard">
        <i class="fa fa-home nav_icon"></i>
        <span class="nav-text">
          Dashboard
          
        </span>
      </a>
    </li>
    <li>
      <a href="quick-links">
        <i class="fa fa-link nav_icon"></i>
        <span class="nav-text">
          Quick Links
          
        </span>
      </a>
    </li>
    <li>
      <a href="account-manager">
        <i class="fa fa-user nav_icon"></i> 
        <span class="nav-text">
          Account
          
        </span>
      </a>
    </li>
    <li>
      <a href="meter-readings">
        <i class="fa fa-bar-chart nav_icon"></i>
        <span class="nav-text">
          Meter Readings
          
        </span>
      </a>
    </li>
    <li>
      <a href="manage-personal-information">
        <i class="fa fa-list-alt nav_icon"></i>
        <span class="nav-text">
          Manage Profile
          
        </span>
      </a>
    </li>
    <li>
      <a href="index.html">
        <i class="fa fa-users nav_icon"></i>
        <span class="nav-text">
          Support
          
        </span>
      </a>
    </li>
    <li class="has-subnav">
      <a href="javascript:;">
        <i class="fa fa-credit-card nav_icon" aria-hidden="true"></i>
        <span class="nav-text">
          Banking Information
        </span>
        <i class="icon-angle-right"></i><i class="icon-angle-down"></i>
      </a>
      <ul>
        <li>
          <a class="subnav-text" href="manage-company-information">
            Company Information
          </a>
        </li>
        <li>
          <a class="subnav-text" href="manage-personal-information">
            Personal Information
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="lodge-new-query">
        <i class="fa fa-envelope nav_icon"></i>
        <span class="nav-text">
          Submit A Query
          
        </span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/register']">
        <i class="icon-off nav-icon"></i>
        <span class="nav-text">
          Logout
        </span>
      </a>
    </li>

  </ul>
  <ul class="logout">

  </ul>
</nav>
