<section class="wrapper scrollable">

  <nav class="user-menu">
    <a href="javascript:;" class="main-menu-access">
      <i class="icon-proton-logo"></i>
      <i class="icon-reorder"></i>
    </a>
  </nav>
  <section class="title-bar">
    <div class="">
      <h1>Lodge</h1>
      <h3 style="color: #c4c4dd; padding-left: 0; margin-top: 8px;">QUERIES / COMPLIMENTS</h3>
    </div>
    <div class="clearfix"> </div>
  </section>
  <!--<div class="secRight">

  </div>-->
  <div class="main-grid" style="padding-top: 0px;">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="head">
            <p class="mt-1" style="margin-left: 0px!important; padding-left: 0px!important;">Lodge a Query or Compliment us on our services.</p>
            <p class="mt-1" style="margin-left: 0px!important; padding-left: 0px!important;">Your input is greatly valued and will be directed to the relevant Municipal Department for resolution.</p>
            <hr>
          </div>
          <div class="row mt-1">
            <form action="" class="col-md-12">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="">Account <span class="text-danger">*</span></label>
                  <select name="account" class="form-control mt-1">
                    <option value="">--Please Select One--</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="">Type Of Query <span class="text-danger">*</span></label>
                  <select name="account" class="form-control mt-1">
                    <option value="">--Please Select One--</option>
                  </select>
                </div>
                <div class="form-group col-md-12">
                  <label for="">Description <span class="text-danger">*</span></label>
                  <textarea name="description" class="form-control mt-1" rows="5" placeholder="Enter Description"></textarea>
                </div>
                <div class="col-md-4 form-group">
                  <button type="submit" class="btn btn-info" style="width: 100%;">SUBMIT</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</section>

<app-left-menu></app-left-menu>
