<section class="wrapper scrollable">

  <nav class="user-menu">
    <a href="javascript:;" class="main-menu-access">
      <i class="icon-proton-logo"></i>
      <i class="icon-reorder"></i>
    </a>
  </nav>
  <section class="title-bar">
    <div class="">
      <h1>Manage</h1>
    </div>
    <div class="clearfix"> </div>
  </section>
  <!--<div class="secRight">

  </div>-->
  <div class="main-grid" style="padding-top: 0px;">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <h3 class="text-info" style="padding-left: 0; margin-top: 8px;">PERSONAL INFORMATION</h3><hr>
          <div class="row">
            <div class="col-md-4 form-group">
              <label for="">Title <span class="text-danger">*</span></label>
              <select name="title" class="form-control mt-1">
                <option value="">MR</option>
                <option value="">MRS</option>
                <option value="">ADEV</option>
              </select>
            </div>
            <div class="col-md-4 form-group">
              <label for="">Home Number <span class="text-danger">*</span></label>
              <select name="title" class="form-control mt-1">
                <option value="">27</option>
                <option value="">1</option>
                <option value="">49</option>
                <option value="">37</option>
              </select>
            </div>
            <div class="col-md-4 form-group">
              <label for=""></label>
              <input type="text" name="" class="form-control" style="margin-top: 1rem;">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 form-group">
              <label for="">Initials <span class="text-danger">*</span></label>
              <input type="text" name="" class="form-control mt-1" value="SG">
            </div>
            <div class="col-md-4 form-group">
              <label for="">Work Number <span class="text-danger">*</span></label>
              <select name="title" class="form-control mt-1">
                <option value="">27</option>
                <option value="">1</option>
                <option value="">49</option>
                <option value="">37</option>
              </select>
            </div>
            <div class="col-md-4 form-group">
              <label for=""></label>
              <input type="text" name="" class="form-control" style="margin-top: 1rem;">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 form-group">
              <label for="">Name <span class="text-danger">*</span></label>
              <input type="text" name="" class="form-control mt-1" value="Sifiso">
            </div>
            <div class="col-md-4 form-group">
              <label for="">Fax Number <span class="text-danger">*</span></label>
              <select name="title" class="form-control mt-1">
                <option value="">27</option>
                <option value="">1</option>
                <option value="">49</option>
                <option value="">37</option>
              </select>
            </div>
            <div class="col-md-4 form-group">
              <label for=""></label>
              <input type="text" name="" class="form-control" style="margin-top: 1rem;">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 form-group">
              <label for="">Surname <span class="text-danger">*</span></label>
              <input type="text" name="" class="form-control mt-1" value="Gonya">
            </div>
            <div class="col-md-4 form-group">
              <label for="">Mobile Number <span class="text-danger">*</span></label>
              <select name="title" class="form-control mt-1">
                <option value="">27</option>
                <option value="">1</option>
                <option value="">49</option>
                <option value="">37</option>
              </select>
            </div>
            <div class="col-md-4 form-group">
              <label for=""></label>
              <input type="text" name="" class="form-control" style="margin-top: 1rem;">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mt-1">
          <div class="head">
            <h3 class="text-info">Physical Address</h3>
            <p class="mt-1" style="margin-left: 0px!important; padding-left: 0px!important;">Update your Physical Address</p>
            <hr>
          </div>
          <div class="row mt-1">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <label for="">Address line 1 <span class="text-danger">*</span></label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-1">
              <div class="row">
                <div class="col-md-4">
                  <label for="">Address line 2</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-1">
              <div class="row">
                <div class="col-md-4">
                  <label for="">Address line 3</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-1">
              <div class="row">
                <div class="col-md-4">
                  <label for="">Address line 4</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-1">
              <div class="row">
                <div class="col-md-4">
                  <label for="">Suburb <span class="text-danger">*</span></label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-1">
              <div class="row">
                <div class="col-md-4">
                  <label for="">City <span class="text-danger">*</span></label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-1">
              <div class="row">
                <div class="col-md-4">
                  <label for="">Postal Code <span class="text-danger">*</span></label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mt-1">
          <div class="head">
            <h3 class="text-info">Postal Address</h3>
            <p class="mt-1" style="margin-left: 0px!important; padding-left: 0px!important;">Update your Postal Address</p>
            <hr>
          </div>
          <div class="row mt-1">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <label for="">Address line 1 <span class="text-danger">*</span></label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-1">
              <div class="row">
                <div class="col-md-4">
                  <label for="">Address line 2</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-1">
              <div class="row">
                <div class="col-md-4">
                  <label for="">Address line 3</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-1">
              <div class="row">
                <div class="col-md-4">
                  <label for="">Address line 4</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-1">
              <div class="row">
                <div class="col-md-4">
                  <label for="">Suburb <span class="text-danger">*</span></label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-1">
              <div class="row">
                <div class="col-md-4">
                  <label for="">City <span class="text-danger">*</span></label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-1">
              <div class="row">
                <div class="col-md-4">
                  <label for="">Postal Code <span class="text-danger">*</span></label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</section>

<app-left-menu></app-left-menu>
