<footer>
    <div class="card-wrapper card-container">
        <div class="card">
            <div class="card-header">
                <h3>Quick Links</h3>
            </div>

            <ul class="footer-links">
                <li>
                    <a target="_blank" class="link" href="#">
                        <span>
                            <i class="arrow right"></i> &nbsp;&nbsp;&nbsp;<label>e-Mintaka Home</label>
                        </span>
                    </a>
                    <a target="_blank" class="link" href="#">
                        <span>
                            <i class="arrow right"></i> &nbsp;&nbsp;&nbsp;<label>e-Mintaka Home</label>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="card">
            <div class="card-header">
                <h3>ACCOUNT</h3>
            </div>

            <ul class="footer-links">
                <li>
                    <a target="_blank" class="link" href="#">
                        <span>
                            <i class="arrow right"></i> &nbsp;&nbsp;&nbsp;<label>Account Login</label>
                        </span>
                    </a>
                    <a target="_blank" class="link" href="#">
                        <span>
                            <i class="arrow right"></i> &nbsp;&nbsp;&nbsp;<label>Register New Account</label>
                        </span>
                    </a>
                    <a target="_blank" class="link" href="#">
                        <span>
                            <i class="arrow right"></i> &nbsp;&nbsp;&nbsp;<label>Help Topics and FAQs</label>
                        </span>
                    </a>
                    <a target="_blank" class="link" href="#">
                        <span>
                            <i class="arrow right"></i> &nbsp;&nbsp;&nbsp;<label>Queries / Compliments</label>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="card">
            <div class="card-header">
                <h3>SERVICES NOTICES</h3>
            </div>

            <ul class="footer-links">
                <li>
                    <a target="_blank" class="link" href="#">
                        <span>
                            <i class="arrow right"></i> &nbsp;&nbsp;&nbsp;<label>About e-Mintaka</label>
                        </span>
                    </a>
                    <a target="_blank" class="link" href="#">
                        <span>
                            <i class="arrow right"></i> &nbsp;&nbsp;&nbsp;<label>Benefits</label>
                        </span>
                    </a>
                    <a target="_blank" class="link" href="#">
                        <span>
                            <i class="arrow right"></i> &nbsp;&nbsp;&nbsp;<label>Security</label>
                        </span>
                    </a>
                    <a target="_blank" class="link" href="#">
                        <span>
                            <i class="arrow right"></i> &nbsp;&nbsp;&nbsp;<label>Terms and Conditions</label>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="card">
            <div class="card-header">
                <h3>CONTACT US</h3>
            </div>

            <p><strong>Call Centre Operational Hours</strong><br>08:00am – 05:00pm<br>Weekdays (Mon - Fri)</p>
            <p><strong>Website related queries:</strong></p>

            <div class="input-group">
                <div class="input-group-addon"> <img src="../../../../assets/icons/call-svgrepo-com.svg" width="14px"
                        height="14px"></div>
                <div class="btn-block">086 099 5150</div>
            </div>
            <div class="input-group">
                <div class="input-group-addon"> <img src="../../../../assets/icons/email-svgrepo-com.svg" width="14px"
                        height="14px"></div>
                <div class="btn-block">e-Mintaka Website Support</div>
            </div>

            <p><strong> Other queries contact us on:</strong></p>

            <div class="input-group">
                <div class="input-group-addon"> <img src="../../../../assets/icons/call-svgrepo-com.svg" width="14px"
                        height="14px"></div>
                <div class="btn-block">0860 562 874</div>
            </div>
            <div class="input-group">
                <div class="input-group-addon"> <img src="../../../../assets/icons/email-svgrepo-com.svg" width="14px"
                        height="14px"></div>
                <div class="btn-block">Mintaka Connect eMail Support</div>
            </div>
        </div>
    </div>
</footer>

<div class="subfooter-wrapper card-container">
    <div class="">Brought to you by <span> QI Solutions </span> | © 2022 All rights reserved.</div>
</div>